<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  {%- set titleDefault = 'Boilerplate Starter Project Homepage' %}
  <title>{{ title or titleDefault }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <link rel="stylesheet" href="styles/main.css" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

  {% block base -%}
  {%- endblock %}

</body>
</html>
