{% extends "base.njk" %}
{%- set title = "Edd Editor Landing Page" %}

{% block base -%}

<header class="c-header">
  <div class="c-header__topbar">
    <img class="c-header__logo" src="images/logo.svg" alt="">
    <input class="c-navigation__checkbox"type="checkbox" name="nav-toggle" id="nav-toggle" data-toggle="toggle">
    <label class="c-navigation__toggle" for="nav-toggle">
      <i class="material-icons">menu</i>
    </label>
    <ul class="c-navigation">
      <li class="c-navigation__item">
        <a href="#">Features</a>
      </li>
      <li class="c-navigation__item">
        <a href="#">Documentation</a>
      </li>
      <li class="c-navigation__item">
        <a href="#">Plugins</a>
      </li>
      <li class="c-navigation__item">
        <a href="#">Support</a>
      </li>
    </ul>
  </div>
  <div class="c-header__content">
    <h1 class="c-header__title">Meet Edd.</h1>
    <h3 class="c-header__tagline">Fast, minimal and super powerful code editor.</h3>
    <button class="c-button" type="submit" name="button">
      <img class="c-button__icon" src="images/download_btn_icon.svg" alt="">
      <a class="c-button__text" href="#">
        Download for Mac
      </a>
    </button>
  </div>
  <a class="c-header__scroll" href="#features">
    <img src="images/scroll_icon.svg" alt="">
  </a>
</header>

<div id="features" class="content">
  <div class="c-features">
    <div class="o-box o-box-small o-stack">
      <div class="c-features__item--main">
        <div class="o-block">
          <div class="o-block__img">
            <img class="c-features__image u-full-width" src="images/main_shot.png" alt="">
          </div>
          <div class="o-block__body">
            <h2 class="c-features__title"><span class="u-underline">The most handsome</span> editor you have ever worked with.</h2>
            <p class="c-features__description">Experience the difference with Edd’s features and let fall in love with his muscles.</p>
          </div>
        </div>
      </div>
      <div class="c-features__item o-stack__item--right">
        <div class="o-block">
          <div class="o-block__img">
            <img class="c-features__image" src="images/shot_1.png" alt="">
          </div>
          <div class="o-block__body">
            <h2 class="c-features__title">Organized Assets</h2>
            <p class="c-features__description">The workflow that gives you complete control over how your website is organized.</p>
          </div>
        </div>
      </div>
      <div class="c-features__item o-stack__item--left">
        <div class="o-block">
          <div class="o-block__img">
            <img class="c-features__image" src="images/shot_2.png" alt="">
          </div>
          <div class="o-block__body">
            <h2 class="c-features__title">Clean UI</h2>
            <p>It is designed to be minimal, yet powerful, with some unique and exciting features. Beautiful color pallete makes it special.</p>
          </div>
        </div>
      </div>
      <div class="c-features__item o-stack__item--right">
        <div class="o-block">
          <div class="o-block__img">
            <img class="c-features__image" src="images/shot_2.png" alt="">
          </div>
          <div class="o-block__body">
            <h2 class="c-features__title">Subtle Console</h2>
            <p class="c-features__description">Use built-in terminal console to run any command on your Container or even remote servers (using SSH)</p>
          </div>
        </div>
      </div>
    </div>
    <div class="c-features__featured-section">
      <div class="o-box o-box--small o-stack">
        <div class="c-features__item c-features__item--dark o-stack__item--left">
          <div class="o-block o-block--dark">
            <div class="o-block__img">
              <img src="images/featureImgBig_1.png" alt="">
            </div>
            <div class="o-block__body">
              <h2 class="c-features__title c-features__title--white">File system browser</h2>
              <p class="c-features__description">Easily browse and open a single file, a whole project, or multiple projects in one window.</p>
            </div>
          </div>
        </div>
        <div class="c-features__item c-features__item--dark o-stack__item--right">
          <div class="o-block o-block--dark">
            <div class="o-block__img">
              <img src="images/featureImgBig_1.png" alt="">
            </div>
            <div class="o-block__body">
              <h2 class="c-features__title c-features__title--white">Code completion</h2>
              <p class="c-features__description">Edd automatically suggests tags as you type them and smartly suggests selectors from your referenced CSS files.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="c-clients">
    <h4 class="c-clients__title">Companies who trusted Edd</h4>
    <div class="o-box o-box--grey">
      <div class="c-clients__container">
        <img class="c-clients__img" src="images/nike_logo.svg" alt="Nike logo">
        <img class="c-clients__img" src="images/amazon_logo.svg" alt="Amazon logo">
        <img class="c-clients__img" src="images/samsung_logo.svg" alt="Samsung logo">
        <img class="c-clients__img" src="images/microsoft_logo.svg" alt="Microoft logo">
      </div>
    </div>
  </div>
  <div class="c-newsletter">
    <label class="c-newsletter__title" for="email">Be notified when updates occurs</label>
    <div class="c-newsletter__form">
      <input class="c-newsletter__input" data-name="Email" id="email" maxlength="256" name="email" placeholder="Your email here" required="required" type="email">
      <button class="c-newsletter__button" type="submit">Sign me up!</button>
    </div>
  </div>
  <button class="c-webflow" type="button" name="button">
    <a href="#">
      <img class="c-webflow__img" src="images/webflow-badge-icon.svg" alt="">
      <img src="images/webflow-badge-text.svg" alt="">
    </a>
  </button>
</div>
<footer class="c-footer">
  <div class="o-box">
    <ul class="o-list-bare c-footer__list">
      <li class="o-list-bare__item c-footer__item">
        <a class="c-footer__link" href="#">Features</a>
      </li>
      <li class="o-list-bare__item c-footer__item">
        <a class="c-footer__link" href="#">Documentation</a>
      </li>
      <li class="o-list-bare__item c-footer__item">
        <a class="c-footer__link" href="#">
          <img src="images/logo_symbol.svg" alt="Edd Logo Symbol">
        </a>
      </li>
      <li class="o-list-bare__item c-footer__item">
        <a class="c-footer__link" href="#">Plugins</a>
      </li>
      <li class="o-list-bare__item c-footer__item">
        <a class="c-footer__link" href="#">Support</a>
      </li>
    </ul>
  </div>
</footer>
{%- endblock %}
