{% extends "base.njk" %}
{%- set title = "Edd Editor Landing Page" %}

{% block base -%}

<header>

</header>
<div class="">

</div>
<footer class="c-footer">
  <div class="o-box">
    <ul class="o-list-bare c-footer__list">
      <li class="o-list-bare__item c-footer__item">
        <a class="c-footer__link" href="#">Features</a>
      </li>
      <li class="o-list-bare__item c-footer__item">
        <a class="c-footer__link" href="#">Documentation</a>
      </li>
      <li class="o-list-bare__item c-footer__item">
        <a class="c-footer__link" href="#">
          <img src="images/logo_symbol.svg" alt="Edd Logo Symbol">
        </a>
      </li>
      <li class="o-list-bare__item c-footer__item">
        <a class="c-footer__link" href="#">Plugins</a>
      </li>
      <li class="o-list-bare__item c-footer__item">
        <a class="c-footer__link" href="#">Support</a>
      </li>
    </ul>
  </div>
</footer>
{%- endblock %}
