.c-circle {
  position: absolute;
  z-index: -1;
}

.c-circle--1 {
  top:24%;
  left: 10%;
}

.c-circle--2 {
  top:25%;
  left: 5%;
}

.c-circle--3 {
  top:22%;
  right: 5%;
  opacity: .7;
}

.c-circle--4 {
  top:40%;
  right: 35%;
}

.c-circle--5 {
  top:50%;
  left: 30%;
}

.c-circle--6 {
  top:50%;
  right: 5%;
}

.c-circle--7 {
  top:51%;
  right: 5%;
}
