.c-features {

}

  .c-features__item {
    margin-bottom: rem-calc(60);
    max-width: rem-calc(500);

    @include mq(medium) {
      width: 50%;
    };

    @include mq(large) {
      margin-right: rem-calc(60);
      margin-left: rem-calc(60);
    };
  }

  .c-features__item--main {

    margin-top: -80px;
    z-index: 10;

    .c-features__title {
      font-size: rem-calc(20);
    }

    .c-features__description {
      font-size: rem-calc(18);
    }

    @include mq(medium) {
      margin-top: -350px;
      margin-bottom: 80px;
      width: 100%;

      .c-features__image {
        margin-bottom: rem-calc(40);
      }
    };

    @include mq(large) {
      margin-top: -250px;
      width: rem-calc(892);
    };
  }

    .c-features__title {
      font-size: rem-calc(24);
      font-weight: 400;
      color: $dark-grey;
      margin-bottom: rem-calc(20);

      &--white {
        color: white;
      }
    }

    .c-features__description {
      padding-bottom: rem-calc(40);
      font-size: rem-calc(15);
      line-height: 2;
    }

  .c-features__image {
    box-shadow: 0 16px 32px 0 rgba(122, 143, 157, .3);
  }

  .c-features__featured-section {
    background-image: url('../images/shapes_2.jpg');
    background-position: 0 0;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;

    @include mq(large) {
      padding-left: rem-calc(60);
      padding-right: rem-calc(60);
    };
  }

  .u-underline {
    text-decoration: underline;
  }

  .u-full-width {
    width: 100% !important;
  }
