.c-header {
  height: rem-calc(500);
  position: relative;
  background-image: url('../images/shapes.png'), linear-gradient(95deg, #e5e8f5, #f0eff9 50%, #fffdff);
  background-position: center bottom, 0px 0px;
  background-size: contain, auto;
  background-repeat: no-repeat;
  text-align: center;

  @include mq(small) {
    background-image: url('../images/shapes.png'), linear-gradient(85deg, #e5e8f5, #f0eff9 45%, #fffdff);
  };

  @include mq(medium) {
    background-image: url('../images/shapes.png'), linear-gradient(85deg, #e5e8f5, #f0eff9 40%, #fffdff);
    background-position: center center, 0px 0px;
    background-size: 100%, auto;
    height: rem-calc(800);
  };

  @include mq(large) {
    height: rem-calc(700);
    background-image: url('../images/shapes.png'), linear-gradient(74deg, #e5e8f5, #f0eff9 50%, #fffdff);
  };
}

  .c-header__topbar {
    height: rem-calc(70);
    display: flex;
    justify-content: space-between;
    padding:rem-calc(5) rem-calc(30);
  }

    .c-header__logo {
      margin-top: rem-calc(5);
      max-width: rem-calc(82);
    }

  .c-header__content {
    margin-top: rem-calc(60);
    margin-bottom: rem-calc(100);

    @include mq(medium) {
      margin-bottom: rem-calc(120);
    };

    @include mq(large) {
      margin-top: rem-calc(80);
      margin-bottom: rem-calc(60);
    };
  }

    .c-header__title,
    .c-header__tagline,
    .c-header__download {

      &.js-move-up {
        animation: move-up 2s ease-out;
        animation-fill-mode: backwards;
      }
    }

    .c-header__title {
      text-shadow: 1px 2px 1px white;

      &.js-move-up {
        animation-delay: .3s;
      }

      @include mq(large) {
        font-size: rem-calc(32);
      };
    }

    .c-header__tagline {
      margin-bottom: rem-calc(30);

      &.js-move-up {
        animation-delay: 1s;
      }

      @include mq(medium) {
        font-size: rem-calc(18);
      };
    }

    .c-header__download.js-move-up {
      animation-delay: 1.5s;
      animation-duration: 1.2s;
    }

  .c-header__scroll {
    display: block;
    animation: bounce 1300ms ease-in-out infinite;

    @include mq(small) {
      margin-top: -3rem;
    };

    @include mq(medium) {
      margin-top: -1rem;
    };

    @include mq(large) {
      margin-top: -.5rem;
    };
  }
