.c-newsletter {
  height: rem-calc(295);
  background-image: url('../images/newsletter_bg.png');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 18%;

  @include mq(medium) {
    padding-top: 10%;
  };

  @include mq(large) {
    padding-top: 5%;
  };
}
  .c-newsletter__title {
    margin-bottom: 40px;
    color: white;
    font-size: rem-calc(18);
    margin-bottom: rem-calc(40);
    display: block;
  }

  .c-newsletter__form {
    height: rem-calc(46);
    display: flex;
    justify-content: space-between;
    max-width: 90%;
    margin: 0 auto;

    @include mq(medium) {
      max-width: 70%;
    };

    @include mq(large) {
      max-width: 60%;
    };
  }

    .c-newsletter__input {
      height: 100%;
      width: 100%;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;

      &::placeholder {
        color: darken($light-grey, 10%);
        font-size: rem-calc(13);
        font-weight: 300;
        padding-left: rem-calc(20);
      }
    }

    .c-newsletter__button {
      background: $dark-grey;
      color: white;
      font-size: rem-calc(13);
      font-weight: 300;
      width: 45%;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      padding: rem-calc(10);

      @include mq(large) {
        width: 25%;
      };
    }
