@keyframes bounce {
  0% { transform: translateY(0);}
  50% { transform: translateY(10px);}
  100% { transform: translateY(0);}
}

@keyframes move-up {
  0% { transform: translateY(30px);opacity:0;}
  100% { transform: translateY(0);opacity:1;}
}
