/* ==========================================================================
   #BLOCK
   ========================================================================== */

/**
 * Stacked image-with-text object. A simple abstraction to cover a very commonly
 * occurring design pattern.
 */

.o-block {
  display: block;
  text-align: center;
}

  .o-block__img {
    margin-bottom: rem-calc(30);

    @include mq(large) {
      margin-bottom: rem-calc(45);
    }

  //   /* Size variants
  //      ====================================================================== */
  //
  //   .o-block--flush > & {
  //     margin-bottom: 0;
  //   }
  //
  //   .o-block--tiny > & {
  //     margin-bottom: $inuit-global-spacing-unit-tiny;
  //   }
  //
  //   .o-block--small > & {
  //     margin-bottom: $inuit-global-spacing-unit-small;
  //   }
  //
  //   .o-block--large > & {
  //     margin-bottom: $inuit-global-spacing-unit-large;
  //   }
  //
    .o-block--huge > & {
      margin-bottom: rem-calc(140);

      @include mq(large) {
        margin-bottom: rem-calc(110);
      }
    }

  }

  .o-block__body {
    display: block;
    text-align: center;
    padding-left: rem-calc(35);
    padding-right: rem-calc(35);
  }



/* Alignment variants
   ========================================================================== */

.o-block--right {
  text-align: right;
}

.o-block--left {
  text-align: left;
}

/* Color variants / PROJECT SPECIFIC
   ========================================================================== */

.o-block--dark {
  background: $dark-grey;
  border-radius: rem-calc(10);

  > .o-block__img {
    margin-bottom: rem-calc(30);
  }

  > .o-block__body {
    padding-bottom: rem-calc(40);

  }
}
