/* ==========================================================================
   #BOX
   ========================================================================== */

/**
 * The box object simply boxes off content. Extend with cosmetic styles in the
 * Components layer.
 *
 * 1. So we can apply the `.o-box` class to naturally-inline elements.
 */

.o-box {
  display: block; /* [1] */
  width: 100%;
  height: 100%;
  padding: $global-spacing-unit;

  > :last-child {
    margin-bottom: 0;
  }
}

.o-box--grey {
  background-color: $light-grey;
}

.o-box--small {
  padding: rem-calc(20);
}



/* Size variants
   ========================================================================== */

// .o-box--flush {
//   padding: 0;
// }
//
// .o-box--tiny {
//   padding: $global-spacing-unit-tiny;
// }
//
// .o-box--small {
//   padding: $global-spacing-unit-small;
// }
//
// .o-box--large {
//   padding: $global-spacing-unit-large;
// }
//
// .o-box--huge {
//   padding: $global-spacing-unit-huge;
// }
